:root {
  --base: #ffc600;
  --padding: 10px;
  --blur: 0px;
  --background: #193549;
  --width: 800px;
}

body {
  text-align: center;
  background: var(--background);
  color: white;
  font-family: 'helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 40px;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 80px;
}

img {
  padding: var(--padding);
  background: var(--base);
  filter: blur(var(--blur));
}

.width {
  width: var(--width);
}

.highlight {
  color: var(--base);
}